<ion-header class="navbar-edit">
  <ion-toolbar> 
    <ion-buttons slot="start" (click)=" closeModal()">   
      <button ion-button icon-only> 
        <ion-icon name="arrow-round-back"></ion-icon> 
      </button> 
    </ion-buttons>    
    <!-- <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Historial de consumo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-table">
    <div class="card-historial">
      <div class="form-group w-100">
        <h5>Toro Gordo</h5>
      </div>
      <div class="form-group w-100">
        <p>Pabellon criollo</p>
      </div>
      <div class="form-group w-50 text-center">
        <p>Monto:<span>10 €</span></p>
      </div>
      <div class="form-group w-50 text-center">
        <p>Fecha:<span>16/072019</span></p>
      </div>
    </div>
    <div class="card-historial">
      <div class="form-group w-100">
        <h5>Toro Gordo</h5>
      </div>
      <div class="form-group w-100">
        <p>Pabellon criollo</p>
      </div>
      <div class="form-group w-50 text-center">
        <p>Monto:<span>10 €</span></p>
      </div>
      <div class="form-group w-50 text-center">
        <p>Fecha:<span>16/072019</span></p>
      </div>
    </div>
    <div class="card-historial">
      <div class="form-group w-100">
        <h5>Toro Gordo</h5>
      </div>
      <div class="form-group w-100">
        <p>Pabellon criollo</p>
      </div>
      <div class="form-group w-50 text-center">
        <p>Monto:<span>10 €</span></p>
      </div>
      <div class="form-group w-50 text-center">
        <p>Fecha:<span>16/072019</span></p>
      </div>
    </div>
   
  </div>
</ion-content>
