<ion-content>
  <div class="box-login">
    <div class="container-login">
      <img src="assets/image/logo.jpeg" class="logo" alt="">
      <ion-item>
        <ion-label position="floating">Usuario o contraseña</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <a href="#" class="forget">¿Olvidaste tu contraseña?</a>
      <button ion-button class="Init" (click)="login()">Iniciar sesión</button>
      <button ion-button class="Init facebook"><ion-icon name="logo-facebook"></ion-icon>Iniciar con facebook </button>
      <button ion-button class="Init google"><ion-icon name="logo-google"></ion-icon>Iniciar sesión</button>
      <div class="form-group">
        <h5>¿No tienes cuenta?</h5>
        <a href="#" (click)="registro()">¡Registrate aquí!</a>
      </div>
    </div>
  </div>
</ion-content>
