
.box-login{
    height: 100vh;
    position: relative;

    .container-login{
        width: 80%;
        margin:auto;

        /* login form */
        ion-label{
            color: var(--gray);
            font-size: 14px;
            input{
                color: var(--gray);
                font-size: 14px;
            }
        }
        ion-item.item-has-focus{
            ion-label{
                color: var(--primary);
            }
        }

        .forget{
            margin: 15px auto;
            text-align: centeR;
            width: 100%;
            display: block;
            color: var(--secondary);
            text-decoration: none;
        }
           
        .Init{
            width: 100%;
            background-color: var(--secondary);
            padding: 12px;
            width: 100%;
            color: #fff;
            font-size: 16px;
        }
        
        .facebook{
            margin-top: 10px;
            background-color: #3b5998;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon{
                margin-right: 10px;
            }
        }

        .google{
            margin-top: 10px;
            background-color: #d62d20;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon{
                margin-right: 10px;
            }
        }

        .form-group{
            margin-top: 20px;

            h5{
                color: var(--gray);
                text-align: center;
            }

            a{
                text-align: center;
                color: var(--primary);
                text-decoration: none;
                font-weight: bold;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
