<ion-header class="navbar-edit">
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <!-- <div class="cont-image">
      <img src="https://images.vexels.com/media/users/3/145908/preview2/52eabf633ca6414e60a7677b0b917d92-creador-de-avatar-masculino.jpg" alt="">
      <label for="file-edit" class="btn-file">
        <input id="file-edit" type="file" class="file">
        <ion-icon class="edit-camera" ios="ios-camera" md="md-camera"></ion-icon>
      </label>
    </div> -->
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input class="edit" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input class="edit" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-input class="edit" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input class="edit" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input class="edit" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirmar contraseña</ion-label>
      <ion-input class="edit" type="password"></ion-input>
    </ion-item>

    <ion-button class="btn-edit">Registrar</ion-button>
  </ion-list>
</ion-content>

